/* #rgb(14,2,50) */
/* --primary: rgba(14, 2, 50); */
:root {
  --main-color: blueviolet;
  --main-color-trans: rgba(137, 43, 226, 0.5);
  --text-color: rgb(14, 2, 50);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* ******************/
/* Section Hero    */
/* ******************/

.section-hero {
  padding: 0rem 6rem 2rem 6rem;
}

.header {
  padding: 1.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  font-size: 1.2rem;
}

.nav-item {
  text-decoration: none;
  color: var(--text-color);
}

.nav-item:hover {
  color: var(--main-color);
}

.logo-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo-text {
  font-size: 1.4rem;
}

.logo {
  /* height: 100%; */
  width: 4rem;
  transition: all 0.4s;
  border-radius: 50%;
}

.logo:hover {
  box-shadow: 0 0 0 0.6rem var(--main-color-trans);
}

.hero {
  /* display: flex;
  justify-content: space-between;
  gap: 3rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.hero-img {
  width: 70%;
  background-position: bottom;
  background-size: cover;
}

.hero-img-box {
  flex: 1;
  position: relative;
  text-align: center;
  overflow-y: hidden;
}

/* .hero-img-box::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;

  transform: translateY(30%);
  z-index: -1;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  background-color: var(--main-color);
  background-size: 100%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 60%);

  box-shadow: 0 0 0 0.5rem var(--main-color-trans);
} */

.hero-text-box {
  display: flex;

  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.hero-tittle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
}

.hero-text {
  color: #888;
  font-size: 1.4rem;
  font-weight: 400;
}

.btn-box {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.logo-icon {
  height: 2rem;
  width: 2rem;
  transform: all 0.4s;
  color: var(--text-color);
}

.logo-icon:hover {
  color: var(--main-color);
}

.btn,
.btn:link,
.btn:visited {
  border: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
  background-color: transparent;
  text-decoration: none;
}

.btn--contact {
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-weight: 500;
  transition: all 0.4s;
}

/* .btn--contact:hover {
  background-color: var(--main-color);
  color: white;
} */

.btn--animation:hover,
.btn--animation:link:hover,
.btn--animation:visited:hover {
  background-color: var(--main-color);
  color: white;
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.btn-icon-text {
  margin-right: 0.3rem;
  height: 1.2rem;
  width: 1.2rem;
}

.button-box-icon {
  display: flex;
  justify-self: center;
  align-items: center;
}

/* ******************/
/* Section interest     */
/* ******************/

.section-interest {
  padding: 6rem 14rem 3rem 14rem;
  position: relative;
  /* overflow: hidden; */
}

.lingkaran.lingkaran--interest {
  top: 0;
  left: 0;
  height: 18rem;
  width: 18rem;
  border: 0px solid var(--main-color);
  transform: translate(-30%, -30%);
  box-shadow: 0 0 0 0.8rem var(--main-color-trans);
  z-index: -1;
}

.interest-box {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  /* border: 1px solid var(--main-color); */
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
  padding: 3rem 4rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.card__tittle {
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--text-color);
  margin-bottom: 0.8rem;
}

.card__text {
  font-size: 1.4rem;
  color: #a7a7a7;
}

.card__logo {
  height: 4.4rem;
  width: 4.4rem;
  padding: 2rem;
  border-radius: 50%;
  background-color: var(--main-color);
  color: white;
  transition: all 0.4s;
}

.card__logo:hover {
  box-shadow: 0 0 0 0.6rem var(--main-color-trans);
}

/* ******************/
/* Section Why     */
/* ******************/
.section-why {
  padding: 6rem 6rem 8rem 6rem;
  background-color: var(--main-color);
  color: white;
}

.why-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.why-personal-tittle,
.competence-tittle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}
.why-personal-box-logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  border-radius: 0.8rem;
}

.why-personal,
.why-competence {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.competence-certificate-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.competence-card {
  background-color: white;
  border-radius: 0.5rem;
  text-align: start;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: auto 1fr;

  align-items: center;
  gap: 2rem;
}

.certificate-box {
  height: 100%;
}
.competence-card-icon {
  height: 4rem;
  width: 4rem;
  color: var(--main-color);
  border-radius: 50%;
  border: 2px solid var(--main-color);
  padding: 0.5rem;
}
/* .competence-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.competence-card-tittle {
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.competence-card-box {
  color: var(--main-color);
}
.competence-card-box a:link,
.competence-card-box a:visited {
  color: inherit;
  border: 1px solid var(--main-color);
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
}
.card-why {
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.card-why__tittle {
  color: var(--main-color);
  font-weight: 500;
  font-size: 2.2rem;
}

.card-why__text {
  font-size: 1.2rem;
  color: #a7a7a7;
}
.card-why__text a {
  color: inherit;
  text-decoration: underline;
}
.card-why__logo {
  height: 4rem;
  width: 4rem;
  color: var(--main-color);
}

/* ******************/
/* Section Skill     */
/* ******************/
.section-skill {
  padding: 6rem 6rem 8rem 6rem;
}

.skill-img-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.skill-img {
  width: 8rem;
}

/* ******************/
/* Section Footer     */
/* ******************/

.section-footer {
  /* border-top: 3px solid var(--main-color); */
  background: var(--main-color);
  padding: 2rem 6rem 4rem 6rem;
  color: white;
  overflow: hidden;
}

.footer-box {
  position: relative;
}

.footer-tittle {
  font-weight: 700;
  font-size: 2rem;
}
.footer-text {
  font-weight: 400;
  color: #e6e6e6;
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

.footer-text a:link,
.footer-text a:visited {
  color: inherit;
  text-decoration: underline;
}
.footer-icons-box {
  display: flex;
  gap: 2rem;
}
.footer-logo-icon {
  color: white;
  height: 2rem;
  width: 2rem;
}

.lingkaran {
  position: absolute;
  border-radius: 50%;
  border: 3px solid #e6e6e6;
  background-color: transparent;
}

.lingkaran.lingkaran--full {
  background-color: var(--main-color);
}

.lingkaran-small {
  height: 3rem;
  width: 3rem;
  top: 10%;
  right: 0%;
}
.lingkaran-medium {
  height: 5rem;
  width: 5rem;
  top: 16%;
  right: 40%;
}
.lingkaran-large {
  border: 4px solid white;
  height: 8rem;
  width: 8rem;
  top: 50%;
  right: 18%;
}
